<h1>Editing Responsibility Conflict</h1>

<%= render 'form', responsibility_conflict: @responsibility_conflict %>

<%= link_to 'Show', @responsibility_conflict %> |
<%= link_to 'Back', responsibility_conflicts_path %>
