<h1>Dashboard</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>


<!doctype html>
<html lang="es">

<head>
  
</head>

<body>

  <h3>Controls by Cycle</h3>
  <%= bar_chart @conflicts_by_cycle%>


</body>

</html>